* {
  margin: 0;
  padding: 0;
}

.box {
  background: #004980;
  height: 100vh;
}

.area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-box {
  margin-top: 100px;
}

.selection-menu {
  display: flex;
  background: #c2f5ff;
  box-shadow: rgba(14, 8, 71, 1) 0 5px 15px;
  height: 459px;
  width: 480px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.text {
  width: 208px;
  text-align: center;
  padding-top: 52px;
  color: #004980;
  font-size: 40px;
  line-height: 48px;
  align-items: center;
}

.difficulty-selection {
  display: flex;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.one,
.two,
.three {
  height: 97px;
  width: 98px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #0080c1;
  flex-direction: column;
}

.level {
  appearance: none;
}

.btn {
  text-align: center;
  margin-bottom: 48px;
  padding: 10px 20% 10px 20%;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  background: #7ac100;
  border-radius: 12px;
  border: #7ac100;
}

.change {
  height: 100px;
  width: 108px;
  font-weight: 500;
  font-size: 70px;
  line-height: 70px;
  box-shadow: 0 0 15px 5px #004980;
}

.darkening {
  background-color: #ace6f1;
  color: #5fa4d8;
  box-shadow: 0px 0px 25px 1px #5fa4d8;
}

/* level one */

.up-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.text-box {
  display: flex;
  gap: 57px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.time-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.time {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 40px;
  color: #fff;
}

.restart {
  width: 246px;
  height: 48px;
  border-radius: 12px;
  background: #7ac100;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  transition: all 1s;

}

.restart:hover {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: restart 5s ease infinite;
  box-shadow:rgb(14 8 71) 0 5px 15px;
  transform: scale(1.01);

}

@keyframes restart {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.box-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  perspective: 800px;
}

.game {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(9, 8rem);
  grid-template-rows: repeat(4, 10rem);
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px; */
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.18, 0.884, 0.33, 1.275);
  box-shadow: rgba(14, 8, 71, 1) 0 5px 15px;
  transform: rotateY(0deg);
  width: 95px;
  height: 133px;
  border: 6px solid white;
  border-radius: 4px;
  background: #fff;
}


.face {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(-1, 1);
}

.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-color: #e4fbff;
  pointer-events: none;
  position: relative;
  background: url(../img/short.svg) #e4fbff round;
}

.flip-card {
  transform: rotateY(180deg);
}

.animation{
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.18, 0.884, 0.33, 1.275);
  box-shadow: rgba(14, 8, 71, 1) 0 5px 15px;
  transform: rotateY(0deg);
  width: 95px;
  height: 133px;
  border: 6px solid white;
  border-radius: 4px;
}